

#mainDivOne{
    display: flex;
    flex-direction: column;
}
#mainDiv{
    display: flex;
    flex-direction: row;
   margin-top: 120px;
}
#pageTilte h1{
    font-size: 55px;
    font-weight: 600;
    color:rgba(33, 33, 140); 
    }
    #paragraphText{
        margin-top: 20px;
        margin-bottom: 40px;
    }
    #paragraphText p{
        font-size: 15px;
        font-weight: 400;
        color: rgba(33, 33, 140);
    }

    #bookBtn {
        display: flex;
        width: 230px;
        height: 50px;
        font-weight: 500;
        align-items: center;
        background: rgba(33, 33, 140, 0.7);
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    #bookBtn a{
        text-decoration: none;
        font-weight: 500;
        color: white;
        padding: 15px;
        margin: 25px 25px;
    }
    #bookBtn:hover {
        background: rgba(33, 33, 140, 0.3);
    }

    #imgDoc img{
        width: 500px;
    }
    #aboutUs{
        width: 100%;
        display: flex;
        transition: .5s ease-in-out;
        max-width: 90%;
        padding: 100px 20px;
    }
    #aboutUsHeadingText{
        width: 100%;
        padding: 30px 0px;
        color: rgba(33, 33, 140);
    }
    #aboutUsHeadingText h2{
        font-size: 30px;
        font-weight: 500;
           
    }
    #aboutUsParagraph{
        display: flex;
        flex-direction: column;
    }
    #aboutUsParagraph p{
        width: 80%;
        color: rgba(33, 33, 140);
    }
    #aboutUsParagraph a{
        height: 40px;
        width: 100px;
        background-color: rgba(33, 33, 140, 0.8);
        color: aliceblue;
        padding: 10px 10px;
        font-size: 0.9rem;
        font-weight: 500;
        border-radius: 5px;
        margin-top: 30px;
        text-decoration: none;
    }
    #aboutUsImg img{
         width: 500px;
         padding: 50px 0;
    }