


#mainDiv{
    position: absolute;
    left: 200px;
    
}
#pageTilte h1{
    font-size: 55px;
    font-weight: 600;
    color:rgba(33, 33, 140); ;
    }
    #paragraphText{
        margin-top: 20px;
        margin-bottom: 40px;
    }
    #paragraphText p{
        font-size: 15px;
        font-weight: 400;
        color: rgba(33, 33, 140);;
    }

    #bookBtn {
        display: flex;
        width: 230px;
        height: 50px;
        font-weight: 500;
        align-items: center;
        background: rgba(71, 71, 111, 0.7);;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    #bookBtn a{
        text-decoration: none;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        padding: 15px;
        margin: 25px 25px;
    }
    #bookBtn:hover {
        background: rgba(71, 71, 111, 0.3);
    }
    #imgDoc{
        display: flex;
        margin-left: 600px;
       
    }
    #imgDoc img{
        width: 250px;
    }

