@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: url("../media/medical1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(220, 212, 212, 0.4);
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(129, 127, 127, 0.6), transparent);
    z-index: 100;
}

.navLogo h1 {
    color: rgba(33, 33, 140);
    font-size: 25px;
    font-weight: 600;
}

.navMenu ul {
    display: flex;
}

.navMenu ul li {
    list-style-type: none;
}

.navMenu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: rgba(33, 33, 140, 1);
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover,
:active {
    border-bottom: 1px solid rgba(33, 33, 140);
}

.navBtn .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(71, 71, 111, 0.5);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;

}

.btn:hover {
    background: rgba(71, 71, 111, 0.3);
}

#registerBtn {
    margin-left: 15px;
}

.btn.white-button {
    background: rgba(71, 71, 111, 0.7);
}

.btn.white-button:hover {
    background: rgba(71, 71, 111, 0.5);
}

.navMenuBtn {
    display: none;
}

.formBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 500px;
    overflow: hidden;
    z-index: 2;

}

.loginContainer {
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;

}



.top span {
    color: rgba(33, 33, 140, 1);
    font-size: small;
    padding: 10px 0;
    justify-content: center;
    display: flex;
}

.top span a {
    font-weight: 500;
    color: rgba(33, 33, 140, 1);
    margin-left: 5px;

}

header {
    color: rgba(33, 33, 140, 1);
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.inputField {
    font-size: 15px;
    background: rgba(71, 71, 111, 0.3);
    color: rgba(33, 33, 140, 1);
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.inputField:hover,
.inputField:focus {
    background: rgba(71, 71, 111, 0.25);
}

::-webkit-input-placeholder {
    color: rgba(33, 33, 140, 1);
}

.inputBox i {
    position: relative;
    top: -35px;
    left: 17px;
    color: rgba(33, 33, 140, 1);
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(71, 71, 111, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: rgba(71, 71, 111, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);

}

.twoCol {
    display: flex;
    justify-content: space-between;
    color: rgba(33, 33, 140, 1);
    font-size: small;
    margin-top: 10px;
}

.twoCol .one {
    display: flex;
    gap: 5px;

}

.two label a {
    text-decoration: none;
    color: rgba(33, 33, 140, 1);
    ;
}

.two label a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1190px) {
    .navLogo h1 {
        font-size: 100%;
    }

    .navBtn .btn {
        width: 80px;
    }
}

@media only screen and (max-width: 878px) {
    .navLogo h1 {
        font-size: 25px;
    }

    .navBtn {
        display: none;
    }

    .navMenu.responsive {
        top: 100px;
    }

    .navMenu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .navMenu ul {
        flex-direction: column;
        text-align: center;
    }

    .navMenuBtn {
        display: block;
    }

    .navMenuBtn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .navMenuBtn i:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}

@media only screen and (max-width: 540px) {
    .wrapper {
        min-height: 100vh;
    }

    .formBox {
        width: 100%;
        height: 565px;
    }

    
    .loginContainer {
        width: 100%;
        padding: 0 20px;
    }

   
}

@media only screen and (max-width: 380px) {
    .navLogo h1 {
        font-size: 100%;
    }
}