@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: url("../media/background.jpg")  center;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    /* background: rgba(220, 212, 212, 0.4); */
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(111, 171, 227, 0.6), transparent);
    z-index: 100;
}
.navLogo{
    display: flex;
}
.navLogo h1 {
    color: rgba(33, 33, 140);
    font-size: 25px;
    font-weight: 600;
    width: 100%;
}
.navLogo img{
    width: 100px;
}

.navMenu ul {
    display: flex;
}

.navMenu ul li {
    list-style-type: none;
}

.navMenu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: rgba(33, 33, 140, 1);
    padding-bottom: 15px;
    margin: 0 10px;
}

.link:hover,
:active {
    border-bottom: 2px solid rgba(33, 33, 140);
}

.navBtn .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(33, 33, 140, 0.5);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    color: #fff;

}

.btn:hover {
    background: rgba(33, 33, 140, 0.3);
}

#registerBtn {
    margin-left: 15px;
}

.btn.white-button {
    background: rgba(33, 33, 140, 0.7);
}

.btn.white-button:hover {
    background: rgba(33, 33, 140, 0.5);
}

.navMenuBtn {
    display: none;
}
#myUserName{
    display: none;
    align-items: center;
    position: relative;
    right: -30px;
    
}
#myUserName i{
    display: flex;
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(33, 33, 140, 0.5);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    align-items: center;
    padding-left: 20px;
}
#footer{
    background-color:rgba(33, 33, 140, 0.5) ;
    display: flex;
    flex-direction: column;
    justify-content:center;

    
}
#topFooter{
    display: flex;
    justify-content: center;
    gap: 10%;
    padding-top: 30px;
    border-bottom: 1px white solid;
}
#topFooter h4{
    color: white;
    padding: 10px 0;
    font-weight: 500;
    width: fit-content;
}
#topFooter p{
    color: white;
    font-weight: 300;
    width: fit-content;
}
#topFooter  ul {
    display: flex;
    flex-direction: column;
}

#topFooter ul li {
    list-style-type:none;
    padding-bottom: 10px;
}

#pages ul li .link {
    text-decoration: none;
    font-weight: 200;
    color: white;
    font-size:14px ;
    border-bottom: 1px solid white;
    

    
}

#pages ul li .link:hover,
:active {
    border-bottom: 1px solid rgba(33, 33, 140);
}
#bottomFooter{
color: #fff;
padding: 10px;
text-align: center;
font-size: 10px;
}

@media only screen and (max-width: 1190px) {
    .navLogo h1 {
        font-size: 100%;
    }

    .navBtn .btn {
        width: 80px;
    }
}

@media only screen and (max-width: 878px) {
    .navLogo h1 {
        font-size: 25px;
    }

    .navBtn {
        display: none;
    }

    .navMenu.responsive {
        top: 100px;
    }

    .navMenu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .navMenu ul {
        flex-direction: column;
        text-align: center;
    }

    .navMenuBtn {
        display: block;
    }

    .navMenuBtn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .navMenuBtn i:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}

@media only screen and (max-width: 540px) {
    .wrapper {
        min-height: 100vh;
    }

}

/* @media only screen and (max-width: 380px) {
    .navLogo h1 {
        font-size: 100%;
    }
} */