*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.warrper{
   background:  rgba(220, 212, 212, 0.4);;
}
#ourServices{
    width: 100%;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    margin-top: 80px;
    background: url(../media/servicesBackground.jpg);
    
}
.servicesHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: auto;
}
.servicesHeadingText h1{
    border-bottom: 1px solid rgba(205, 209, 212, 0.4);
        padding: 0px 0;
        text-align: center;
        background-size: cover;
        position: relative;
        color: rgba(33, 33, 140);
        opacity: 1;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.2;
        margin: 0;
        padding: 0px 0px 5px;

}
.servicesHeadingText p{
    border-bottom: 1px solid rgba(205, 209, 212, 0.4);
    padding: 50px 0;
    text-align: center;
    position: relative;
    color: rgba(33, 33, 140);
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    padding: 0px 0px 5px;
    font-size: 16px;
}
.serviceBoxContainer {
    max-width: 1200px;
    width: 90%;
    margin: 40px auto;

}

.servicesBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    border: 5px solid rgba(71, 71, 111, 0.25);
    padding: 30px;
}
.servicesBox:hover{
    border: 5px solid rgb(33, 33, 140,0.5);
}
.servicesBox i{
    font-size: 2rem;
    color: rgba(33, 33, 140, 1);
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
}
.servicesBox strong{
    color: #122853;
    font-size: 1.4rem;
    margin-top: 20px;
}
.servicesBox p{
    color:#122853;
    font-size: 0.9rem;
    line-height: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: .3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.servicesBox a{
    height: 45px;
    background-color: rgba(33, 33, 140, 0.8);
    color: aliceblue;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 20px;

}
.box1{
    background-color: #ecf6fd;
}
.box1 i{
    background-color: #d4e2ff;
}
.box2 {
    background-color: #ecf6fd;
}

.box2 i {
    background-color: #d4e2ff;
}
.box3 {
    background-color: #ecf6fd;
}

.box3 i {
    background-color: #d4e2ff;
}
.box4 {
    background-color: #ecf6fd;
}

.box4 i {
    background-color: #d4e2ff;
}

.swiper-button-next,
.swiper-button-prev{
   
    transform: translate(0,0);
    margin-top: 50px !important;

}
.servicesSlideBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 25px !important;
    font-weight: 800;
    color: #122853;
    
}



 #bookBtn {
     display: flex;
     width: 230px;
     height: 50px;
     font-weight: 500;
     align-items: center;
     background: rgba(33, 33, 140, 0.8);
     border: none;
     border-radius: 30px;
     cursor: pointer;
     transition: 0.3s ease;
     margin-bottom: 80px;
 }

 #bookBtn a {
     text-decoration: none;
     font-weight: 500;
     color: white;
     padding: 15px;
     margin: 25px 25px;
 }
 #servicesInfo{
    width: 100%;
    display:block;
    justify-content: center;
    transition: .5s ease-in-out; 
 }
 .servicesInfo1{
        align-items: center;
        max-width: 90%;
        margin-left: 50px;
        padding: 100px 20px;
        
 }
 .innerServicesInfo{
    display: flex;
    flex-direction: row;
 }
 .servicesInfo1 strong{
    display: flex;
    color: #122853;
    font-size: 1.4rem;
   padding-bottom:20px ;
 }
 .innerServicesInfo img{
    width: 400px;
    height: 300px;
 }

 .servicesInfo1 p{
    color: #122853;
    font-size: 0.9rem;
    line-height: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: .3;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    width: 60%;
    
 }
 